# Mentoria Evolution - Data Analysis

<font color=blue><b> Minerando Dados</b></font><br>
www.minerandodados.com.br

**Importante**: Antes de executar as seguintes células verifique se **todos os arquivos** estão no mesmo diretório

**Importe o Pandas**

In [ ]:
import pandas as pd

**Ler a base de dados em memória**

In [ ]:
dataset = pd.read_csv('kc_house_data.csv', sep=',')

** Tipo: DataFrame**

In [ ]:
type(dataset)

**Imprime informações do Dataframe**

In [ ]:
dataset.info()

## Mapeamento SQL para Pandas

In [ ]:
dataset.head(10)

In [ ]:
from IPython.display import Image
Image("tabela-sql-pandas.png")

**Retorna todas os registros do dataframe**

In [ ]:
dataset

**Retorna os top 10 registros**

In [ ]:
dataset.head(10)

**Retorna os imóveis com 3 quartos**

In [ ]:
dataset.loc[dataset['bedrooms']==3]

**Retorna imóveis únicos na base de dados**

In [ ]:
dataset.id.unique()

In [ ]:
dataset.bedrooms.unique()

In [ ]:
dataset.bathrooms.head(10)

In [ ]:
dataset.bathrooms.mean()

**Retorna a contagem de todos os registros por colunas**

In [ ]:
dataset.count()

**Imprime o nome das colunas do dataframe**

In [ ]:
dataset.columns

**Informações estatisticas da base de dados**

In [ ]:
dataset.describe()

## Fazendo Querys no Dataframe

**Lista imóveis com 3 quartos e com banheiros maior igual a 2**

In [ ]:
dataset.loc[(dataset['bedrooms']==3) & (dataset['bathrooms'] > 2)]

** Conta a quantidade de imóveis com 4 quartos**

In [ ]:
dataset[dataset['bedrooms']==4].count()

** Ordena Dataframe pela coluna preço por ordem decrescente**

In [ ]:
dataset.sort_values(by='price', ascending=False)

**Agrupa e conta quantidade de imóveis por tamanho de quartos**

In [ ]:
dataset.bedrooms.value_counts()

In [ ]:
dataset.bathrooms.value_counts()

## Consulta os dados em mais de um dataset

* Utiliza o método merge() para união dos dataframes
* União do tipo **inner join**, **left join** e **right join**
* Especifica a coluna chave para união

**Carregando o dataset de pedidos**

In [ ]:
orders = pd.read_csv('olist_orders_dataset.csv')

In [ ]:
orders.head()

- Carregando o dataset de itens pedidos

In [ ]:
orders_items = pd.read_csv('olist_order_items_dataset.csv')

In [ ]:
orders_items.head()

** Consultando os dados nos dois datasets e juntando através da chave order_id**
- Selecionando os atributos do dataset **orders (pedidos)**
> - order_id (id do pedido)
> - order_status (status do pedido)
> - order_approved_at (data e hora da aprovação do pedido)

- Selecionando os atributos do dataset **orders_items (itens do pedidos)**
> - product_id (id do produto)
> - seller_id (id do vendedor)
> - price (preço do produto)
> - freight_value (valor do frete)

In [ ]:
df_query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 on='order_id')

In [ ]:
df_query.head()

** Left Join**

In [ ]:
df_query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 on='order_id', how='left')

In [ ]:
df_query.head()

**Right Join**

In [ ]:
df_query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 , how='right',right_on='id_pedido' )

In [ ]:
df_query.head()

* Pratique o que foi aprendido refazendo todos os passos
* Consulte a documentação para aprender mais sobre os métodos e recursos utilizados.
* **Dúvidas?** Mande um e-mail para mim em contato@minerandodados.com.br